<h1>fuck this shit im out</h1>

{{#each products}}
  <div class = "products">
    <h1>Name: {{name}}</h1>
    <h2>Price: {{price}}</h2>
    <h2>Inventory: {{inventory}}</h2>
    <h2>Id: {{id}}</h2>
  </div>
{{/each}}

{{#each articles}}
  <div class = "articles">
    <h1>Title: {{title}}</h1>
    <h2>Body: {{body}}</h2>
    <h2>Author: {{author}}</h2>
  </div>
{{/each}}